.footer{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #344965;
    align-items: center;
    justify-content: space-between;
}

.footer__right{
    display: flex;
    margin: 0px 20px;
}

.footer__left{
    color: #D5D4D8;
    margin: 0px 20px;
}